button.nav-link{
    background: #f6f7f8;
    border-radius: 0;
    border: none;
    

    &:focus{
    background-color: red;

        outline: none;
    }
    &.active:hover{
    background-color: red;

        color: white;
    }
    & :active{
        outline: none;
    }
    &.active:focus{
        outline: none;
    }
    &:disabled:not(.active){
        color: #333;
        font-weight: bold;
    }
}
