// body {
//     display: flex;
//     align-items: center;
//     padding-top: 40px;
//     padding-bottom: 40px;
//     background-color: #f5f5f5;
// }
.form-floating{
    margin-bottom: 8px;
}
.text-center {
    text-align: center!important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
