
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="/assets/images/shopping-basket-icon.jpg" style="max-height: 50px;" alt="icon">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase">
            <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Shop</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">Contact</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
            <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
        </ul>

        <div class="d-flex flex-wrap align-items-center">
            <a class="positon-relative">
                <i class="fa fa-shopping-cart text-dark fa-2x" style="margin-right: 30px;"></i>
                <div class="card-number">3</div>
            </a>
            <a class="btn btn-outline-danger me-2">Login</a>
            <a class="btn btn-danger">Sign-up</a>
        </div>
    </header>
