
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a routerLink="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="/assets/images/shopping-basket-icon.jpg"  style="max-height: 50px;" alt="icon">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase">
            <li><a  class="nav-link px-2" 
                [routerLink]="['/']" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}"
                >Home</a></li>
            <li><a  class="nav-link px-2" routerLink="/shop" routerLinkActive="active">Shop</a></li>
            <li><a  class="nav-link px-2" routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li><a  class="nav-link px-2" routerLink="/test-error" routerLinkActive="active">Error</a></li>
            <li><a  class="nav-link px-2">About</a></li>
        </ul>

        <div class="d-flex flex-wrap align-items-center">
            <a routerLink="/basket" class="positon-relative">
                <i class="fa fa-shopping-cart text-dark fa-2x" style="margin-right: 30px;"></i>
                <div class="card-number" *ngIf="(basket$ | async) as basket">{{basket.basketItems.length}}</div>
                
            </a>
            <a class="btn btn-outline-danger me-2">Login</a>
            <a class="btn btn-danger">Sign-up</a>
        </div>
    </header>
